<div class="favorite">
	<% if post.favorited_by?(current_user) %>
	    <%= link_to post_favorites_path(post), method: :delete do %>
	    <i class="far fa-heart" style="color: red;"></i>
	      <%= post.favorites.count %>
	    <% end %>
	<% else %>
	    <%= link_to post_favorites_path(post), method: :post do %>
	    <i class="far fa-heart" style="color: red;"></i>
	      <%= post.favorites.count %>
	    <% end %>
	<% end %>
</div>