<div class="row">
	<div class="col-xs-1">
		<div class="favorite">
			<% if post.favorited_by?(current_user) %>
			    <%= link_to post_favorites_path(post.id), method: :delete, remote: true do %>
			    <i class="fas fa-heart fa-2x" style="color: red;"></i>
			    <% end %>
			<% else %>
			    <%= link_to post_favorites_path(post.id), method: :post, remote: true do %>
			    <i class="far fa-heart fa-2x" style="color: red;"></i>
			    <% end %>
			<% end %>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="comment_icon-<%= post.id %>" >
			<i class="far fa-comment-dots fa-2x" id="icon"></i>
		</div>
	</div>
</div>
<div class="row">
	<%= post.favorites.count %>人が『いいね！』しました
</div>