<%= form_for [post, comment] do |f| %>
<!-- formにするものの指定がpostとネストしているcommentなので配列で記載 -->
    <div class="row">
        <div class="col-xs-12">
            <%= f.text_area :comment, rows:'2', class: "form-control",placeholder: "コメント追加...." %>
        </div>
    </div>
    <%= f.submit "投稿する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>
