<div class="comment_form">
	<%= form_with(model:[post, comment], url: post_comments_path(post), id: 'comment') do |f| %>
	<!-- formにするものの指定がpostとネストしているcommentなので配列で記載 -->
	    <div class="row">
	        <div class="col-xs-10">
	            <%= f.text_area :comment, rows:'2', class: "form-control",placeholder: "コメント追加...." %>
	        </div>
	        <div class="col-xs-2">
	    		<%= f.submit "投稿する", class: "btn btn-lg btn-base-1 mt-10 pull-right" %>
	    	</div>
	    </div>
	<% end %>
</div>


