/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.naver {
	width: 1300px;
	margin-top: 30px;
	border-color: #222;
}

.wrapper {
	margin-top: 100px;
	padding: 0,100px;
}

html {
	width: 1400px; 
	// background-color: #222;
}

.container {
	width: 1400px;
	background-color: white;
	margin: 20px;
}

#logo {
	color: white;
	text-align: right;
	font-size: 50px;
}

.nav-item {
	color: white;
	font-size: 25px;
	margin-top: 30px;
}

#about_modal {
	width: 400px;
	height: 600px;
	margin-left: 600px;
	margin-top: 200px;
}

body {
	background-color: #222;
}

#left_ber{
	padding-top: 350px;
	// height: 1000px;
	// background-color: #222;

}

#right_ber{
	padding-top: 400px;
	// float:right;
 //    display: inline-block;
	// height: 1000px;
	// background-color: #222;
}


/*
.top2 {
  background-size: cover;
  background-position: center;
  background-image: image-url('IMG_77962.JPG');
  width: 500px;
  height: 700px;
}
*/
