/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.naver {
	width: 1300px;
	margin-top: 30px;
	border-color: #222;
	z-index: 2;
}

#wrapper {
	margin-left: 100px;
	padding: 130px 80px 0px 50px;
	width: 1200px;
	display: inline-block;
}

.top_wrapper {
	height: 500px;
	margin-top: 80px;
	margin-bottom: 30px;
}

html {
	width: 1400px;
	font-family: 'Impact','ヒラギノ角ゴシック','Hiragino Sans';
	// background-color: #222;
	color: #222;
}

.container {
	width: 1400px;
	background-color: white;
	margin: 20px;
	font-family:  'Impact','ヒラギノ角ゴシック','Hiragino Sans';
	color: #222;
}

#logo {
	color: white;
	text-align: right;
	font-size: 50px;
}

.nav-item {
	color: white;
	font-size: 25px;
	margin-top: 30px;
}

#about_modal {
	width: 500px;
	height: 850px;
	margin-left: 500px;
	margin-top: 0px;
}

body {
	background-color: #222;
}

#right_ber {
	padding-right: 30px;
    margin-top: 300px;
    position: fixed;
    right: -20px;
}

button.button1 {
	text-decoration: none;
    background: gray;
	color: white;
	width: 70px;
	height: 70px;
	font-size: 40px;
	border-radius:25px;
	margin-bottom: 20px;

}

#search_modal {
	z-index: 2;
	padding: 15px;
	margin-top:150px;

}

#new_modal {
	// position: static;
	width: 550px;
	z-index: 3;
	margin-top:120px;
	position:fixed;
	height: 580px;
}

#new_modal .modal-body {
	padding: 20px 50px;
}

#edit_modal {
	z-index: 3;
	padding: 30px;
	margin-top:10px;
}

#post_modal {
	z-index: 3;
	padding: 30px;
	margin-top:10px;
}

#user_image {
	padding: 2px;
	border:2px solid #CC0000;
	object-position: 50% 0%;
	object-fit: fill;
	width: 100px;
	height: 100px;
}

#mini_user_image {
	padding: 2px;
	border:2px solid #CC0000;
	object-position: 50% 0%;
	object-fit: fill;
	width: 60px;
	height: 60px;
}

#comment_user_image {
	padding: 2px;
	border:1px solid gray;
}

#second_navber {
	margin: 60px;
	z-index: 1;
	background-color: white;
}

.navbar-nav{
	margin: 0 auto;
	display: table;
	float:none;
}

#post_image:hover {
	position: relative;
	opacity: 0.9;
	filter: grayscale(10%);
	// 文字を目立ちやすくグレーのフィルターをかける
}

#post_image:hover p {
	position: absolute;
	color: white;
	font-size: 30px;
	top: 50%;
	left: 40%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	display: block;
}

#post_image:hover i {
	position: absolute;
	color: white;
	font-size: 30px;
	top: 50%;
	left: 60%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	display: block;
}

#post_image p {
	display: none;
}

#post_image i {
	display: none;
}

.btn {
	 border-radius:25px;
}

.btn:hover {
    color: white;
    background-color: #FFCC00;
    border: #FF9933;
}

.show.post_collapse {
	left: 30px;
}

.img_prev {
	width: 200px;
	height: 200px;
	margin-left: 0px;
}

.post_user_name {
	font-size: 20px;
}

#stylebut:hover {
	width: 300px;
	height: 50px;
	font-size: 30px;
}

#stylebut{
	margin-top: 100px;
}

a:link {
	color:#222;
	}
	// 未訪問
a:visited {
	color:#222;
	} 
	// 訪問済み
a:hover {
	color:gray;
	}
	// 乗っている
a:active {
	color:#222;
	}
	// クリック中

.style_image {
    /*画像表示の仕方*/
 //    object-fit: none;
 //    // object-fit: cover;
 //    /*画像表樹の基準*/
	object-position: 50% 0%;
	object-fit: fill;
	width: 400px;
	height: 400px;
}

.body {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.body .body_title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}

.body p {
    margin: 0;
    padding: 0;
}

.name {
	padding-left: 50px;
}

.account {
	background-image: image-url('d975ff94-ba41-4d95-8616-cc6bd758d07d.jpg');
	background-size: cover;
	margin-top: 80px;
	width: 1350px;
	height: 640px;
}

.form_field {
	float: right;
	padding-right: 80px;
}

#btn {
	background-color: transparent;
	margin-left: 120px;
	border-radius:25px;
	border: 1px solid #222;
}

#btn:hover {
    color: white;
    background-color: #FFCC00;
    border: #FF9933;
}

.setting_wrapper {
	height: 660px;
}



#form-style {
 background: transparent;
  border: none;
  border-bottom: 2px solid #222;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 25px;
  transition: border-color 0.3s;
  width: 200px;
}

.title1 {
	text-align: right;
	padding-right: 180px;
	padding-top: 50px;
	font-size: 35px;
	top: 30%;
}

.actions {
	padding-top: 200px;
}

#style_show {
	padding-bottom: 50px;
}

.table {
	width: 700px;
}

.list_image {
	width: 550px;
	height: 550px;
	object-position: 50% 0%;
	object-fit: fill;
	margin-left: 40px;
}

.post_body {
	padding-left: 50px;
}

#comment_form{
	margin-left: 20px;

}

.post_index {
 	padding: 5px;
	background-color: #fff;
	border: 2px solid #E3E3E3;
	border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
	}

#ranking_table {
	margin: 100px 0 0 80px;
	width: 230px;
	height: 400px;
	position: fixed;
	border: 2px solid #E3E3E3;
	border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
	padding: 18px;
}

/*
.top2 {
  background-size: cover;
  background-position: center;
  background-image: image-url('IMG_77962.JPG');
  width: 500px;
  height: 700px;
}
*/
