/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.naver {
	width: 1300px;
	margin-top: 30px;
	border-color: #222;
	z-index: 2;
}

#wrapper {
	margin-left: 20px;
	display: inline-block;
	padding: 130px 50px 0px 50px;
}

.top_wrapper {
	height: 740px;
	margin-top: 80px;
	margin-bottom: 30px;
}

html {
	width: 1400px; 
	// background-color: #222;
}

.container {
	width: 1400px;
	background-color: white;
	margin: 20px;
}

#logo {
	color: white;
	text-align: right;
	font-size: 50px;
}

.nav-item {
	color: white;
	font-size: 25px;
	margin-top: 30px;
}

#about_modal {
	width: 400px;
	height: 600px;
	margin-left: 600px;
	margin-top: 200px;
}

body {
	background-color: #222;
}

#left_ber {
	padding: 15px;
	height: 900px;
    position: relative;
    margin-top: 65px;
    background-color: #222;
	position: fixed;
	margin-left: -20px;
}

#left_ber div {
	margin: 100px 0;
    text-decoration: none;
    background: #BBBBBB;
	color: #BBBBBB;
	width: 60px;
	height: 60px;
	font-size: 18px;
	line-height: 60px;
	// 行の高さ
	border-radius: 50%;
	// 角の丸み 50%で丸
	text-align: center;
	overflow: hidden;
	// 治らなかった部分 hidden=非表示
	font-weight: bold;
	// 文字の太さ bold=一般的太字
	box-shadow: 0px 2px 2px black;
	// 影 横移動、縦移動、ぼかしレベル、色
	text-shadow: -1px -1px white, 2px 2px black;
	border-bottom: solid 3px gray;
	// 内側の影
	transition: .4s;
	// sは秒数 アクションが起きてから変化する速さ
}

#right_ber {
	padding-right: 50px;
	height: 900px;
    margin-top: 300px;
    position: fixed;
    right: 0px;
}

button.button1 {
	text-decoration: none;
    background: #BBBBBB;
	color: #BBBBBB;
	width: 70px;
	height: 70px;
	font-size: 40px;
	line-height: 70px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	font-weight: bolder;
	box-shadow: 0px 2px 2px black;
	text-shadow: -1px -1px white, 2px 2px black;
	border-bottom: solid 3px gray;
	transition: .4s;
}

#search_modal {
	z-index: 2;
	margin-left: 400px;

}

#new_modal {
	// position: static;
	z-index: 2;
	margin-left: 300px;
}

#user_image {
	padding: 2px;
	border:2px solid #CC0000;
}

#comment_user_image {
	padding: 2px;
	border:1px solid gray;
}

#second_navber {
	margin: 60px;
	z-index: 1;
	background-color: white;
}

.navbar-nav{
	margin: 0 auto;
	display: table;
	float:none;
}

#post_image:hover {
	position: relative;
	filter: grayscale(60%);
	// 文字を目立ちやすくグレーのフィルターをかける
}

#post_image:hover p {
	position: absolute;
	color: white;
	font-size: 30px;
	top: 50%;
	left: 40%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	display: block;
}

#post_image:hover i {
	position: absolute;
	color: white;
	font-size: 30px;
	top: 50%;
	left: 60%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	display: block;
}

#post_image p {
	display: none;
}

#post_image i {
	display: none;
}

.btn {
	 border-radius:25px;
}
/*
.top2 {
  background-size: cover;
  background-position: center;
  background-image: image-url('IMG_77962.JPG');
  width: 500px;
  height: 700px;
}
*/
